.container {
    @apply
    mb-2;
}

.label + .inputContainer {
    @apply
    mt-1;
}

.inputContainerWithUnit {
    @apply
    flex
    rounded-l;
}

.input {
    @apply
    border
    border-gray-400
    border-r-transparent
    pl-4
    py-2
    text-black;
}

.inputWithoutUnit {
    @apply
    rounded;
}


.inputWithUnit {
    @apply
    rounded-l;
}

.unitContainer {
    @apply
    align-middle
    bg-gray-200
    border
    border-gray-400

    flex
    justify-center
    rounded-r

    dark:border-l
    dark:border-transparent
    dark:border-gray-300;
}

.unit {
    @apply
    my-auto
    px-2
    text-gray-900;
}
