.header {
    @apply
    container
    flex
    flex-wrap
    md:flex-nowrap
    items-center
    justify-between
    mx-auto
    py-6;
}

.siteTitle {
    @apply
    font-bold
    uppercase;
}

.mobileDrawerButton {
    @apply
    sm:hidden
}

.buttonContainerVisible {
    @apply
    flex
    flex-col
    sm:flex-row;
}
